@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #13131a;
    color: #ffffff;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
  }
}
